build/
*.obj
*.o
*.exe
*.dll
*.pdb
*.ilk
*.user
*.log
*.suo
*.sdf
*.ipch
*.opensdf
*.tlog
*.vscode/
*.ncb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcproj.user
*.cmake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
_compile_commands.json
compile_commands.json
CTestTestfile.cmake
_deps/
_build/
_conan/
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
_graphics/
__pycache__/
*.pyc